<!-- <p>{{ user.nom }}</p>
<p>{{ user.karma }}</p> -->

<!-- <button type="button" class="btn btn-primary" routerLink="/new-entry/new" (click)="addUser()">Add</button> -->
<button type="button" class="btn btn-primary" routerLink="new-entry">Add</button>

<ng-container *ngIf="user && karma">
  <div>
    <p>{{ user.uid }}</p>
    <p>{{ user.email }}</p>
  </div>


  <div class="wrapper container justify-content-center">
    <div class="circle pulse"></div>
    <div class="circle"><h1 class="karma-points">{{ karma.points }}</h1></div>
  </div>
</ng-container>


