<!-- <div *ngIf="isLoggedIn | async" class="" -->
<!-- <div class=""
    [ngClass]="isPortrait ? 'fixed-bottom' : 'sticky-top'">
  <ng-container *ngFor="let menu of menus">
    <a class="navbar-brand" href="{{ menu.url }}">
      {{ menu.name }}
    </a>
  </ng-container>
</div> -->
<!-- <button class="" (click)="authService.signOut()" routerLink="/sign-in">
  logout
</button> -->

<nav class="navbar navbar-expand-sm navbar-light" data-toggle="affix">
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
      <div class="collapse navbar-collapse" id="">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/entries">entries</a>
              </li>
              <li class="nav-item active mx-4">
                  <a class="nav-link" href="/">home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/profile">profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="authService.signOut()" href="/sign-in">log out</a>
            </li>
          </ul>
      </div>
  </div>
</nav>
