<form class="container" [formGroup]="questionForm" #formDirective="ngForm" (ngSubmit)="onAddQuestion(formDirective)">

  <div class="">

    <div class="">
      <mat-form-field class="col-md-6 col-10" appearance="legacy">
        <mat-label>question</mat-label>
        <input matInput #title maxlength="60" [formControl]="questionForm.get('title')" required>
        <mat-hint align="end">{{title.value?.length || 0}}/60</mat-hint>
      </mat-form-field>
    </div>

    <div class="">
      <mat-button-toggle-group #yesSign appearance="legacy" name="fontStyle" aria-label="Font Style"
      [formControl]="questionForm.get('yesSign')">
        <mat-button-toggle value="+">+</mat-button-toggle>
        <mat-button-toggle value="-">-</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field class="col-md-2 col-4" appearance="legacy">
        <mat-label>yes points</mat-label>
        <input matInput #yesPoints maxlength="60" [formControl]="questionForm.get('yesPoints')" required>
        <mat-hint align="end">0 - 100</mat-hint>
        <mat-error *ngIf="questionForm.get('yesPoints').hasError('pattern')">Only numbers between 0 and 100</mat-error>
      </mat-form-field>
    </div>

    <div class="">
      <mat-button-toggle-group #noSign appearance="legacy" name="fontStyle" aria-label="Font Style"
      [formControl]="questionForm.get('noSign')">
        <mat-button-toggle value="+">+</mat-button-toggle>
        <mat-button-toggle value="-">-</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field  class="col-md-2 col-4" appearance="legacy">
        <mat-label>no points</mat-label>
        <input matInput #noPoints maxlength="60" [formControl]="questionForm.get('noPoints')" required>
        <mat-hint align="end">0 - 100</mat-hint>
        <mat-error *ngIf="questionForm.get('noPoints').hasError('pattern')">Only numbers between 0 and 100</mat-error>
      </mat-form-field>
    </div>

    <div class="mt-4">
      <button class="col-auto" type="submit" [disabled]="!questionForm.valid" mat-raised-button color="primary">Add question</button>
    </div>

  </div>

</form>

<div class="container" *ngFor="let question of questions; trackBy: trackByFn">
  <p>-----debut-----</p>
  <p>{{ question.title }}</p>
  <p>{{ question.yesSign }} {{ question.yesPoints }}</p>
  <p>{{ question.noSign }} {{ question.noPoints }}</p>
  <p>-----fin-----</p>
</div>
