<router-outlet></router-outlet>

<ng-container *ngIf="!isClicked">
  <button type="button" class="btn btn-primary" routerLink="/new-entry">Add</button>

  <div *ngFor="let entry of entries">
    <div (click)="onSelectEntry(entry)">
      <p>-----debut-----</p>
      <p>{{ entry.title }}</p>
      <p>{{ entry.description }}</p>
      <p>{{ entry.date | date: 'dd/MM/yyyy'}}</p>
      <p>{{ entry.points }}</p>


      <p>-----fin-----</p>
    </div>

    <button class=""
      mat-raised-button color="secondary"
      (click)="onDelete(entry)">
      delete
    </button>
  </div>

</ng-container>

<ng-container>
  <app-old-entry
    *ngIf="isClicked"
    (deleteEntry)="onDelete($event)" >
  </app-old-entry>
</ng-container>
