<p>new-entry works!</p>


<!-- <div class="">
  <h3>Add entry</h3>

  <p *ngIf="errorMsg">{{ errorMsg }}</p>

  <div class="">
    <input type="text" class="" placeholder="title" required>
  </div>

  <div class="">
    <input type="text" class="formControl" placeholder="description">
  </div>

  <div class="">
    <input type="button" class="" value="Save entry" (click)="onAddEntry()">
  </div>
</div> -->

<form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
  
  <label>
    Title:
    <input type="text" placeholder="title"  formControlName="title" required>
  </label>

  <label>
    Description:
    <input type="text" placeholder="description" formControlName="description">
  </label>

  <button type="submit">Add new entry</button>

</form>