<p>new-entry works!</p>

<form [formGroup]="entryForm" (ngSubmit)="onAddEntry()">

  <mat-form-field>
    <input matInput [matDatepicker]="date_picker" placeholder="Date" formControlName="date" [value]="current_date">
    <mat-datepicker-toggle matSuffix [for]="date_picker"></mat-datepicker-toggle>
    <mat-datepicker #date_picker touchUi></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field floatLabel="always">
    <input matInput #title maxlength="25" placeholder="Title" formControlName="title" required>
    <mat-hint align="end">{{title.value?.length || 0}}/25</mat-hint>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <input matInput #description maxlength="250" placeholder="Description" formControlName="description">
    <mat-hint align="end">{{description.value?.length || 0}}/250</mat-hint>
  </mat-form-field>

  <button type="submit">Add new entry</button>

</form>