<div class="container">
  <h2 class="">sign in</h2>

  <form [formGroup]="signInForm" class="m-b-20" (ngSubmit)="onSignIn()">

    <p class="text-error" *ngIf="errorMsg">{{ errorMsg }}</p>

    <div class="">
      <div class="">
        <mat-form-field class="col-10 col-md-3">
          <input matInput #email placeholder="e-mail" formControlName="email" required>
        </mat-form-field>
      </div>

      <div class="m-b-20">
        <mat-form-field class="col-10 col-md-3">
          <input type="password" matInput #password placeholder="password" formControlName="password" required>
          <mat-hint align="end" routerLink="/forgot-password">Forgot password?</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="">
      <button class="" type="submit" mat-raised-button color="primary" [disabled]="!signInForm.valid">Sign In</button>
    </div>

  </form>

  <div class="">
    <button class=""
            mat-raised-button color="secondary"
            (click)="authService.googleAuth()">
      Continue with Google
    </button>
  </div>

  <p class="">Don't have an account?</p>
  <div class="">
    <button class=""
              mat-raised-button color="secondary"
              routerLink="/sign-up">
      Sign up
    </button>
  </div>
</div>
