<p>sign-in works!</p>

<div class="">
  <div class="">

    <div class="authBlock">
      <h3>Sign In</h3>

      <p *ngIf="errorMsg">{{ errorMsg }}</p>

      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="" value="Log in" (click)="onSignIn(userName.value, userPassword.value)">
      </div>

      <div class="formGroup">
        <span class=""><span class="">Or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="" (click)="authService.googleAuth()">
          <i class=""></i>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>

    <div class="">
      <span>Don't have an account?<button class="" routerLink="/register-user">Sign Up</button></span>
    </div>

  </div>
</div>
